<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="loginService" class="com.wdp.demo.login.service.impl.LoginServiceImpl" />

	<bean id="loginAction" class="com.wdp.demo.login.action.LoginAction">
		<property name="loginService" ref="loginService" />
	</bean>

</beans>